body {
  padding-top: 5rem;
}

.container {
  max-width: 100%;
}

.table {
  table-layout: fixed;
  word-wrap: break-word;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

label strong {
  color: #F73656;
}

.label-high {
  background-color: #11B4C2;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.alert {
  padding: 5px;
  margin-bottom: 5px;
}
.alert>p, .alert>ul {
  margin-bottom: 0;
}

input::placeholder {
}

.server-feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}
