server:
  port: 8080
logging:
  config: classpath:logback.xml
application:
  alertmanager:
    targetId: team:{{ .commonLabels.team }}
  phones:
    use: true
    url: http://localhost:9000/send?phoneNum={{ .phone }}&msg={{ .message }}&callbackNum=01050078766
    method: GET
    body: ''
    format: delimiter
  email:
    use: true
    host: smtp.gmail.com
    port: 587
    auth: true
    username: abcd@gmail.com
    password: zgtgfteyivkzrsdf
  slack:
    use: true
    body: '{ "text": "{{ .title }}\n{{ .message }}" }'
  msteams:
    use: true
    body: '{ "@context":"https://schema.org/extensions", "@type":"MessageCard", "themeColor":"0072C6", "title":"{{ .title }}", "text":"{{ .message }}" }'
  webhook:
    - name: my-webhook
      url: http://localhost:9000
      method: POST
      body: '{ "title":"{{ .title }}", "text":"{{ .message }}" }'
      format: json
  proxy:
    use: false
    url: http://172.22.134.22
