<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
  <title>Edit User</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="/css/starter-template.css" rel="stylesheet">
</head>
<body>



<main role="main" class="container" layout:fragment="content">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Edit Notification</h1>
  </div>

  <form action="#" th:action="@{/notifications/update/{id}(id=${notification.id})}" th:object="${notification}" method="post">
    <div class="form-group row">
      <label for="id" class="col-sm-2 col-form-label">ID</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{id}" class="form-control" id="id" placeholder="Unique key">
        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email address list">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group row">
      <label for="slack" class="col-sm-2 col-form-label">Slack</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{slack}" class="form-control" id="slack" placeholder="Slack webhook list">
        <span th:if="${#fields.hasErrors('slack')}" th:errors="*{slack}" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group row">
      <label for="sms" class="col-sm-2 col-form-label">SMS</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{sms}" class="form-control" id="sms" placeholder="Phone number list">
        <span th:if="${#fields.hasErrors('sms')}" th:errors="*{sms}" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Update Notification</button>
      </div>
    </div>
  </form>
</main>

