<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
  <title>New Target</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="/css/starter-template.css" rel="stylesheet">
</head>
<body>
<main role="main" class="container" layout:fragment="content">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-primary">
    <h1 class="h2">New Target</h1>
  </div>

  <form class="needs-validation" novalidate action="#" th:action="@{/targets/create}" th:object="${target}" method="post">
    <div class="form-group row">
      <label for="id" class="col-sm-2 col-form-label">ID<strong>*</strong></label>
      <div class="col-sm-10">
        <input type="text" th:field="*{id}" class="form-control" id="id" placeholder="Unique key">
        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group row">
      <label for="phone" class="col-sm-2 col-form-label">Phones</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{phone}" class="form-control" id="phone" placeholder="Phone number list (ex) 01230004001 01230004002">
        <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-sm-2 col-form-label">Emails</label>
      <div class="col-sm-10">
        <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email address list (ex) aaaa@example.com bbbb@example.com">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group row">
      <label for="slack" class="col-sm-2 col-form-label">Slack webhook</label>
      <div class="col-sm-7">
        <input type="text" th:field="*{slack}" class="form-control" id="slack" placeholder="Slack webhook url">
        <span th:if="${#fields.hasErrors('slack')}" th:errors="*{slack}" class="text-danger"></span>
      </div>
      <div class="col-sm-3">
        <a href="https://api.slack.com/incoming-webhooks#sending_messages" target="_blank" class="btn btn-primary btn-sm role">Create slack webhook</a>
      </div>
    </div>
    <div class="form-group row">
      <label for="msteams" class="col-sm-2 col-form-label">MS Teams webhook</label>
      <div class="col-sm-7">
        <input type="text" th:field="*{msteams}" class="form-control" id="msteams" placeholder="MS Teams webhook url">
        <span th:if="${#fields.hasErrors('msteams')}" th:errors="*{msteams}" class="text-danger"></span>
      </div>
      <div class="col-sm-3">
        <a href="https://docs.microsoft.com/en-us/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook" target="_blank" class="btn btn-primary btn-sm role">Create MS Teams webhook</a>
      </div>
    </div>



    <div class="form-group" id="webhook-url-group">
      <fieldset th:each="webhookUrl, itemStat : *{webhookUrls}" class="entry">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Custom webhook</label>

          <!-- Webhook URL right column (+/- button) -->
          <!--
          <div class="col-sm-1 order-md-2 mb-2">
            <div class="row">
              <button type="button" class="btn btn-outline-primary btn-sm add-entry">+</button>
              <button type="button" class="btn btn-outline-primary btn-sm remove-entry">-</button>
            </div>
          </div>
          -->

          <!-- Webhook URL content column --->
          <div class="col-sm-9 order-md-1">
            <div class="row mb-2">
              <div class="col-md-3">
                <input th:field="*{webhookUrls[__${itemStat.index}__].name}" type="text" class="form-control form-control-sm webhook-url-name" placeholder="Name" value="" required="">
                <!--
                <div class="input-group input-group-sm">
                  <input th:field="*{webhookUrls[__${itemStat.index}__].name}" type="text" class="form-control webhook-url-name" placeholder="Name" value="" required="">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0)" value="slack">Slack</a>
                      <a class="dropdown-item" href="javascript:void(0)" value="ms-teams">MS Teams</a>
                    </div>
                  </div>
                </div>
                -->
                <span th:if="${#fields.hasErrors('webhookUrls[__${itemStat.index}__].name')}" th:errors="*{webhookUrls[__${itemStat.index}__].name}" class="text-danger"></span>
              </div>
              <div class="col-md-3">
                <select th:field="*{webhookUrls[__${itemStat.index}__].method}" th:value="*{webhookUrls[__${itemStat.index}__].method}" class="custom-select custom-select-sm d-block w-100 webhook-url-method" required="">
                  <option value="">Choose method</option>
                  <option value="GET">GET</option>
                  <option value="POST">POST</option>
                </select>
                <span th:if="${#fields.hasErrors('webhookUrls[__${itemStat.index}__].method')}" th:errors="*{webhookUrls[__${itemStat.index}__].method}" class="text-danger"></span>
              </div>
            </div>

            <div class="mb-2">
              <input th:field="*{webhookUrls[__${itemStat.index}__].url}" type="text" class="form-control form-control-sm webhook-url-url" placeholder="URL">
              <span th:if="${#fields.hasErrors('webhookUrls[__${itemStat.index}__].url')}" th:errors="*{webhookUrls[__${itemStat.index}__].url}" class="text-danger"></span>
            </div>

            <div class="mb-2">
              <textarea th:field="*{webhookUrls[__${itemStat.index}__].body}" type="text" class="form-control form-control-sm webhook-url-body" rows="1" placeholder="HTTP POST Body (Optional)"></textarea>
              <span th:if="${#fields.hasErrors('webhookUrls[__${itemStat.index}__].body')}" th:errors="*{webhookUrls[__${itemStat.index}__].body}" class="text-danger"></span>
            </div>
            <hr class="mb-4">
          </div>
        </div>
      </fieldset>
    </div>



    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Create Target</button>
      </div>
    </div>
  </form>



  <!-- template -->
  <script type="text/html" id="webhook-url-entry">
    <fieldset class="entry">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Custom webhook</label>

        <!-- Webhook URL right column (+/- button) -->
        <div class="col-sm-1 order-md-2 mb-2">
          <div class="row">
            <button type="button" class="btn btn-outline-primary btn-sm add-entry">+</button>
            <button type="button" class="btn btn-outline-primary btn-sm remove-entry">-</button>
          </div>
        </div>

        <!-- Webhook URL content column --->
        <div class="col-sm-9 order-md-1">
          <div class="row mb-2">
            <div class="col-md-3">
              <input name="{{webhook-url-name}}" type="text" class="form-control webhook-url-name" placeholder="Name" value="" required="">
              <span class="text-danger"></span>
            </div>
            <div class="col-md-3">
              <select name="{{webhook-url-method}}" class="custom-select custom-select-sm d-block w-100 webhook-url-method" required="">
                <option value="">Choose method</option>
                <option>GET</option>
                <option>POST</option>
              </select>
              <span class="text-danger"></span>
            </div>
          </div>

          <div class="mb-2">
            <input name="{{webhook-url-url}}" type="text" class="form-control form-control-sm webhook-url-url" placeholder="URL">
            <span class="text-danger"></span>
          </div>

          <div class="mb-2">
            <textarea name="{{webhook-url-body}}" class="form-control form-control-sm webhook-url-body" rows="1" placeholder="HTTP POST Body (Optional)"></textarea>
            <span class="text-danger"></span>
          </div>
          <hr class="mb-4">
        </div>
      </div>
    </fieldset>
  </script>
  <script type="text/html" id="body-slack">{ "text": "{{ .title }}\n{{ .message }}" }</script>
  <script type="text/html" id="body-ms-teams">{ "@context":"https://schema.org/extensions", "@type":"MessageCard", "themeColor":"0072C6", "title":"{{ .title }}", "text":"{{ .message }}" }</script>
</main>



<!-- script -->
<th:block layout:fragment="script">
  <script type="text/javascript" src="/targets/target.js"></script>
</th:block>
